#media-view * {
	box-sizing: border-box;
}

#media-view {
	all: initial;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: rgba(0, 0, 0, .8);
	font-size: 0;
	z-index: 10000;
}

:fullscreen #media-view {
	background-color: #000;
}

#media-view>header {
	background-color: rgba(0, 0, 0, .4);
	color: #ccc;
	display: flex;
	position: absolute;
	width: 100%;
	z-index: 1;
}

#media-view>header>* {
	padding: 5px 15px;
}

#media-view>header>h3 {
	flex: 1;
	margin: 0;
	font-size: 18px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#media-view>header>p {
	margin: 0;
	padding-top: 8px;
	font-size: 14px;
	cursor: pointer;
}

#media-view>header>p:hover {
	background-color: rgba(255, 255, 255, .1);
}

#media-view>header>p:active {
	background-color: rgba(255, 255, 255, .07);
}

#media-view>header>p:last-child {
	background-color: rgba(255, 0, 0, .2);
}

#media-view>header>p:last-child:hover {
	background-color: rgba(255, 0, 0, .4);
}

#media-view>header>p:last-child:active {
	background-color: rgba(255, 0, 0, .1);
}

#media-view>p {
	margin: 0;
	width: 100%;
	height: 100%;
	padding-top: 38px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

#media-view>p>img {
	border: 0;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	cursor: zoom-in;
	background-color: transparent;
	background-image: linear-gradient(45deg, rgba(0, 0, 0, .25) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25)), linear-gradient(45deg, rgba(0, 0, 0, .25) 25%, transparent 25%, transparent 75%, rgba(0, 0, 0, .25) 75%, rgba(0, 0, 0, .25));
	background-position: 0 0, 10px 10px;
	background-size: 20px 20px;
}

#media-view>p.media-view-zoom {
	justify-content: flex-start;
	align-items: flex-start;
	position:relative;
}

#media-view>p.media-view-zoom.media-view-zoom-x {
	justify-content: center;
}

#media-view>p.media-view-zoom.media-view-zoom-y {
	align-items: center;
}

#media-view>p.media-view-zoom>img {
	max-width: unset;
	max-height: unset;
	cursor: zoom-out;
	position:absolute;
}

#media-view>div>p {
	margin: 0;
	padding: 5px;
	z-index: 0;
	display: flex;
	align-items: center;
	font-size: 35px;
	height: calc(100% - 38px);
	position: absolute;
	color: rgba(255, 255, 255, .5);
	bottom: 0;
	font-weight: bold;
	background-color: rgba(255, 255, 255, .05);
	cursor: pointer;
}

#media-view>div>p:hover {
	background-color: rgba(255, 255, 255, .2);
}

#media-view>div>p:active {
	background-color: rgba(255, 255, 255, .1);
}

#media-view>div>p:first-child {
	left: 0;
}

#media-view>div>p:last-child {
	right: 0;
}

#media-view>div>p.media-view-disabled {
	cursor: default;
	background-color: initial;
	color: rgba(255, 255, 255, .2);
}

#media-view>div>p.media-view-disabled:hover {
	background-color: initial;
}

#media-view>div>p.media-view-disabled:active {
	background-color: initial;
}

#media-view>p.media-view-zoom+div>p.media-view-disabled {
	display: none;
}

@media screen and (max-width: 480px){
	#media-view>header>p:not(:last-child) {
		display: none;
	}
}